Django==4.2.7

# Utils:
# postgres driver:
psycopg2==2.9.9
# django settings organization:
python-decouple==3.8
dj-database-url==2.1.0
# code coverage:
coverage==7.3.2
# logging @ sentry:
raven==6.10.0

# Apps:
# code testing:
django-nose==1.4.7
# rich-text editor:
django-ckeditor==6.7.0
django-js-asset==2.1.0
# form presentation:
django-widget-tweaks==1.5.0
