Django==4.1.5

# Utils:
# postgres driver:
psycopg2==2.9.5
# django settings organization:
python-decouple==3.7
dj-database-url==1.2.0
# code coverage:
coverage==7.0.1
# logging @ sentry:
raven==6.10.0

# Apps:
# code testing:
django-nose==1.4.7
# rich-text editor:
django-ckeditor==6.5.1
django-js-asset==2.0.0
# form presentation:
django-widget-tweaks==1.4.12
