Django==4.0.5

# Utils:
# postgres driver:
psycopg2==2.9.3
# django settings organization:
python-decouple==3.6
dj-database-url==0.5.0
# code coverage:
coverage==6.4
# logging @ sentry:
raven==6.10.0

# Apps:
# code testing:
django-nose==1.4.7
# rich-text editor:
django-ckeditor==6.4.2
django-js-asset==2.0.0
# form presentation:
django-widget-tweaks==1.4.12
