{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'wiki/wiki_style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}| Wiki{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active">Wiki</li>
{% endblock %}

{% block content %}
    {% if entries_per_section %}
        <div id="wikiCarousel" class="carousel slide" data-ride="false">
            <!--  Carousel indicators (section names) -->
            <ol class="row carousel-indicators">
                {% for section in entries_per_section %}
                    <li data-target="#wikiCarousel"
                        data-slide-to="{{ forloop.counter0 }}"
                        class="{% if forloop.first %}active{% endif %} col-xl-5 mb-1">{{ section.name }}
                    </li>
                {% endfor %}
            </ol>

            <!--  Carousel items -->
            <div class="carousel-inner">
                {% for section, entries in entries_per_section.items %}
                    <div class="carousel-item{% if forloop.first %} active{% endif %}">
                        {% if entries %}
                            <ol class="list-inline strip-list-entry">
                                {% for entry in entries %}
                                    <li class="list-inline-item col-xl-3 mb-1">
                                        <a href="{{ entry.get_absolute_url }}">{{ entry.name }}</a>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% else %}
                            <div class="text-center">No entries in category.</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>There are no wiki categories.</p>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'wiki/goToCarouselSlide.js' %}"></script>
{% endblock %}