.carousel-indicators {
    position: unset;
}

.carousel-indicators li {
    cursor: pointer;
    height: 1.65rem;
    width: auto;
    text-indent: 0;
    text-align: center;
    transition: all 0.5s ease;
    border: none;
    border-radius: 0.3rem;
    background-color: #e9ecef;
    color: gray;
}

.carousel-indicators li.active, .carousel-indicators li:hover {
    background-color: #455a64;
    color: whitesmoke;
}

.carousel-item {
    text-align: center;
}

.carousel-item li {
    cursor: pointer;
    width: auto;
    transition: all 0.5s ease;
    border: none;
    border-radius: 1rem;
    background-color: #f3f6f9;
    color: gray;
}

.carousel-item li.active, .carousel-item li:hover, .carousel-item li:hover a {
    background-color: #007bff;
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.2s ease;
}
