{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'news/news_style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}| News{% endblock %}

{% block nav-bar %}
    <!-- nav-bar -->
    <!-- TODO: Create an .svg file for logo -->
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'favicon.ico' %}" width="30"
                                                              height="30" class="d-inline-block align-top" alt=""> Dev
            Team Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- links: -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wiki' %}">Wiki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownLinks">
                        <a class="dropdown-item" href="#">Custom Link 1</a>
                        <a class="dropdown-item" href="#">Custom Link 2</a>
                        <a class="dropdown-item" href="#">Custom Link 3</a>
                        {% if user.is_authenticated and user.is_staff %}
                            <!-- TODO: Link "Links" to specific admin page to update variables of custom links: -->
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'admin:index' %}">Edit Links</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
            <!-- current version: -->
            {% if user.is_authenticated and user.is_staff %}
                <!-- TODO: Link to admin page to update variable of current version: -->
                <a class="btn btn-success" href="{% url 'admin:index' %}" role="button" data-toggle="tooltip"
                   data-placement="bottom" title="Edit in admin panel">Current Version: 2.4.7</a>
            {% else %}
                <!-- TODO: Update from variable of current version: -->
                <button class="btn btn-success" type="button">Current Version: 2.4.7</button>
            {% endif %}
            <!-- search: -->
            <form class="form-inline ml-5 my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
            <!-- user area: -->
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-2 my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userArea" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                        <div class="dropdown-menu" aria-labelledby="userArea">
                            <a class="dropdown-item" href="#">My account</a>
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin panel</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <form class="form-inline my-2 my-lg-0">
                    <a href="{% url 'admin:index' %}" class="btn btn-outline-secondary ml-4">Log in</a>
                    <a href="#" class="btn btn-primary ml-2">Sign up</a>
                </form>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-8 news-main">
            {% if tag %}
                <h1>News with {{ tag }}</h1>
            {% else %}
                <h1>News</h1>
            {% endif %}
            {% if article_list %}
                {% for article in article_list %}
                    <div class="article">
                        <hr>
                        <h2 class="article-title">{{ article.title }}</h2>
                        <p class="article-meta">{{ article.created_on }}
                            by {{ article.created_by }}<br>Tags: {{ article.display_tags }}
                        </p>
                        {{ article.body|safe|truncatewords:50 }}
                        <a href="{{ article.get_absolute_url }}">Continue Reading =></a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="article">
                    <p>There are no news articles.</p>
                </div>
            {% endif %}

            {% if is_paginated %}
                <nav class="news-pagination">
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Older</a>
                    {% endif %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">Newer</a>
                    {% endif %}
                </nav>
            {% endif %}

        </div><!-- /.news-main -->

        <aside class="col-sm-3 ml-sm-auto news-sidebar">
            <div class="sidebar-module">
                <h4>Tags</h4>
                <ol class="list-unstyled">
                    {% for tag in tag_list %}
                        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </aside><!-- /.news-sidebar -->

    </div><!-- /.row -->
{% endblock %}