{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'news/news_style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}| News{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-sm-8 news-main">
            {% if tag %}
                <h1>News - {{ tag }}</h1>
            {% else %}
                <h1>News</h1>
            {% endif %}
            {% if article_list %}
                {% for article in article_list %}
                    <div class="article">
                        <hr>
                        <h2 class="article-title">{{ article.title }}</h2>
                        <p class="article-meta">{{ article.created_on }}
                            by {{ article.created_by }}<br>Tags: {{ article.display_tags }}
                        </p>
                        {{ article.body|safe|truncatewords:50 }}
                        <a href="{{ article.get_absolute_url }}">Continue Reading =></a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="article">
                    <p>There are no news articles.</p>
                </div>
            {% endif %}

            {% if is_paginated %}
                <nav class="news-pagination">
                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">Older</a>
                    {% endif %}
                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-secondary" href="?page={{ page_obj.previous_page_number }}">Newer</a>
                    {% endif %}
                </nav>
            {% endif %}

        </div><!-- /.news-main -->

        <aside class="col-sm-3 ml-sm-auto news-sidebar">
            <div class="sidebar-module">
                <h4>Tags</h4>
                <ol class="list-unstyled">
                    {% for tag in tag_list %}
                        <li><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
        </aside><!-- /.news-sidebar -->

    </div><!-- /.row -->
{% endblock %}