{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link href="{% static 'forum/forum_style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}| Forum{% endblock %}

{% block content %}
    <h1>Forum</h1>
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            <th>Category</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
        </tr>
        </thead>
        <tbody>
        {% for category in category_list %}
            <tr>
                <td>
                    <a href="{% url 'category_topics' category.pk %}">{{ category.name }}</a>
                    <small class="text-muted d-block">{{ category.description }}</small>
                </td>
                <td class="align-middle">
                    {{ category.get_posts_count }}
                </td>
                <td class="align-middle">
                    {{ category.topics.count }}
                </td>
                <td class="align-middle">
                    {% with post=category.get_last_post %}
                        {% if post %}
                            <small>
                                <a href="{% url 'topic_posts' category.pk post.topic.pk %}">
                                    By {{ post.created_by.username }} at {{ post.created_at }}
                                </a>
                            </small>
                        {% else %}
                            <small class="text-muted">
                                <em>No posts yet.</em>
                            </small>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}