{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}| Forum{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active">Forum
        {% if user.is_staff %}
            <a href="{% url 'admin:app_list' 'forum' %}" class="badge badge-danger"
               data-toggle="tooltip" data-placement="bottom" title="Edit in admin panel"><i
                    class="fas fa-wrench"></i></a>
        {% endif %}</li>
{% endblock %}

{% block content %}
    {% if category_list %}
        <table class="table">
            <thead class="bg-sc-dark-gray text-light">
            <tr>
                <th>Category</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last Post</th>
            </tr>
            </thead>
            <tbody>
            {% for category in category_list %}
                <tr>
                    <td>
                        <a href="{% url 'topics_of_category' category.slug %}">{{ category.name }}</a>
                        <small class="text-muted d-block">{{ category.description }}</small>
                    </td>
                    <td class="align-middle">
                        {{ category.get_posts_count }}
                    </td>
                    <td class="align-middle">
                        {{ category.topic_set.count }}
                    </td>
                    <td class="align-middle">
                        {% with post=category.get_last_post %}
                            {% if post %}
                                <small>
                                    <a href="{{ post.get_absolute_url }}">
                                        By {{ post.updated_by.username }}, {{ post.last_updated|naturaltime }}
                                    </a>
                                </small>
                            {% else %}
                                <small class="text-muted">
                                    <em>No posts yet.</em>
                                </small>
                            {% endif %}
                        {% endwith %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        There are no forum categories.
    {% endif %}
{% endblock %}