{% extends 'forum/topic_list.html' %}

{% block title %}| Forum{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'forum' %}">Forum</a></li>
    <li class="breadcrumb-item"><a
            href="{% url 'topics_of_category' category.slug %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active">New topic</li>
{% endblock %}

{% block content %}
    <form method="post" class="mb-4" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">Post</button>
    </form>
{% endblock %}