{% extends 'base.html' %}
{% load humanize %}

{% block title %}| Forum{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item"><a href="{% url 'forum' %}">Forum</a></li>
    <li class="breadcrumb-item active">{{ category.name }}</li>
{% endblock %}

{% block content %}
    <div class="mb-2">
        <a href="{% url 'new_topic' category.slug %}" class="btn btn-primary">New topic</a>
    </div>

    <table class="table table-striped mb-2">
        <thead class="bg-sc-dark-gray text-light">
        <tr>
            <th>Topic</th>
            <th>Created By</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last Update</th>
        </tr>
        </thead>
        <tbody>
        {% for topic in topic_list %}
            {% url 'posts_of_topic' category.slug topic.slug as topic_url %}
            <tr>
                <td>
                    <p class="mb-0">
                        <a href="{{ topic_url }}">{{ topic.subject }}</a>
                    </p>
                    <small class="text-muted">
                        Pages:
                        {% for i in topic.get_page_range %}
                            <a href="{{ topic_url }}?page={{ i }}">{{ i }}</a>
                        {% endfor %}
                        {% if topic.has_many_pages %}
                            ... <a href="{{ topic_url }}?page={{ topic.get_page_count }}">Last Page</a>
                        {% endif %}
                    </small>
                </td>
                <td class="align-middle">{{ topic.created_by.username }}</td>
                <td class="align-middle">{{ topic.replies }}</td>
                <td class="align-middle">{{ topic.views }}</td>
                <td class="align-middle"><a
                        href="{{ topic.get_last_post.get_absolute_url }}">{{ topic.last_updated|naturaltime }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include 'includes/paginator_reversed.html' %}

{% endblock %}