/* Inner scroll in favorite cards */
.inner-scroll {
    height: 19rem;
    overflow-y: scroll;
}

/* Inner scroll in search results */
.search-inner-scroll {
    height: 13rem;
    overflow-y: scroll;
}
