/* News Articles */
.article {
    margin-bottom: 4rem;
}

.article-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.article-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/* Sidebar modules for boxing content */
.sidebar-module {
    padding: 1rem;
    position: fixed
}
