{% load static %}
{% load site_config_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A development team hub">
    <meta name="author" content="Yevgeny Kuznetsov">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <!-- Title block is added to base title -->
    <title>{% site_name request %} {% block title %}{% endblock %}</title>

    <!-- 'Lato' google font for custom base CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Bootstrap mobile devices optimization -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom base CSS -->
    <link href="{% static 'base_style.css' %}" rel="stylesheet">
    <!-- Font awesome icons - faster with css -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- Custom CSS block for 'child' templates to override: -->
    {% block stylesheet %}{% endblock %}
</head>

<body>
<!-- Custom nav-bar block for 'child' templates to override: -->
{% block nav-bar %}
    <!-- nav-bar -->
    <nav class="navbar navbar-expand-xl fixed-top navbar-dark bg-sc-dark-gray">
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fas fa-h-square fa-spin"></i> {% site_name request %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- links: -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news' %}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'wiki' %}">Wiki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum' %}">Forum</a>
                </li>
                {% site_custom_links request as links %}
                {% if links %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown">Links</a>
                        <div class="dropdown-menu">
                            {% for link_name, link_url in links.items %}
                                <a class="dropdown-item" href="{{ link_url }}">{{ link_name }}</a>
                            {% endfor %}
                            {% if user.is_authenticated and user.is_staff %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'admin:hub_customlink_changelist' %}">Edit
                                    Links <i class="fas fa-wrench"></i></a>
                            {% endif %}
                        </div>
                    </li>
                {% elif user.is_authenticated and user.is_staff %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown">Links</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'admin:hub_customlink_changelist' %}">Edit Links <i
                                    class="fas fa-wrench"></i></a>
                        </div>
                    </li>
                {% endif %}
            </ul>
            <!-- current version: -->
            {% if user.is_authenticated and user.is_staff %}
                <a class="btn btn-success mr-4" href="{% url 'admin:hub_siteconfig_change' 1 %}" role="button"
                   data-toggle="tooltip" data-placement="bottom" title="Edit in admin panel">Current
                    Version: {% site_current_release_version request %} <i class="fas fa-wrench"></i></a>
            {% else %}
                {% site_current_release_notes request as article_slug %}
                {% if article_slug %}
                    <a class="btn btn-success mr-4" href="{% url 'article' article_slug %}" role="button"
                       data-toggle="tooltip" data-placement="bottom" title="See release notes">Current
                        Version: {% site_current_release_version request %}</a>
                {% else %}
                    <button class="btn btn-success mr-4" type="button">Current
                        Version: {% site_current_release_version request %}</button>
                {% endif %}
            {% endif %}
            <!-- search: -->
            <form id="search_form" type="GET" action="{% url 'search' %}"
                  class="form-inline mr-4">
                <input id="search_text" class="form-control mr-2" type="text" placeholder="Search..." name="search_q"
                       required>
                <button id="search_submit" class="btn btn-outline-warning" type="submit"><i
                        class="fas fa-search"></i>
                </button>
            </form>
            <!-- user area: -->
            {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userArea"
                           data-toggle="dropdown">{{ user.username }}</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{% url 'account' %}">My account <i
                                    class="fas fa-user"></i></a>
                            {% if user.is_staff %}
                                <a class="dropdown-item" href="{% url 'admin:index' %}">Admin panel <i
                                        class="fas fa-sliders-h"></i></a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out <i
                                    class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </li>
                </ul>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light mr-2">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}

<!-- Main content container: -->
<main role="main" class="container">
    <!-- Custom breadcrumb block for 'child' templates to override: -->
    {% block breadcrumb-base %}
        <ol class="breadcrumb my-2">
            {% block breadcrumb %}
                <li class="breadcrumb-item "><a href="{% url 'index' %}"><i class="fas fa-home"></i></a></li>
            {% endblock %}
        </ol>
    {% endblock %}
    <!-- Content block: -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>

<!-- Footer container -->
<footer class="footer bg-sc-dark-gray text-light">
    &copy; 2020 {% site_name request %} <a class="text-light" href="#"><i class="fas fa-angle-double-up"></i></a>
</footer>


<!-- Bootstrap JavaScripts -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- Light up nav-bar current section -->
<script src="{% static 'updateNavBar.js' %}"></script>
<!-- Custom JS block for 'child' templates to override: -->
{% block javascript %}
{% endblock %}
</body>
</html>